<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="pinchy_gazebo">

        <gazebo>
            <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system">
                <parameters>$(find pinchy_robot_bringup)/config/pinchy_controllers.yaml</parameters>
                <controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>
            </plugin>
        </gazebo>

    </xacro:macro>

</robot>